.banner{
    background-image: url('../../assets/logo/banner.jpg');
    height: 100vh;
    background-position: center top;
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.cont{
    top: 30%;
    margin-left: 15%;
    vertical-align: middle;
    position: absolute;
}
.cont h1{
    color: var(--secondary-color);
    padding-top: 20px;
}
.container{
    width: 300px;
    border: 1px solid white;
    text-align: justify;
    padding: 10px;
    transition: 0.5s;
    color: var(--secondary-color);
}
.container:hover{
    box-shadow: 2px 2px 5px grey;
    border-color: transparent;
}
.main{
    width: 100%;
    margin-bottom: 100px;
    position: relative;
    padding: 20px;
    height: auto;
}
.title{
    top: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    position: relative;
}
.main-cont{
    position: relative;
    top: 200px;
}
.media{
    position: relative;
    top: 100px;
}
.apod{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 20px 10px;
    transition: 0.3s;
}
.apod:hover{
    box-shadow: 2px 2px 10px grey;
    border-color: transparent;
}
.explan{
    position: relative;
    top: 150px;
    display: inline-block;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    border: 1px solid white;
    background-color: whitesmoke;
    margin: 20px;
    border-radius: 50px 20px;
    margin-bottom: 150px;
    transition: 0.5s;
}
.explan:hover{
    box-shadow: 2px 2px 10px grey;
    border-color: transparent;
}
.datepicker{
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-control{
    position: relative;
    width: 200px;
}
.descrip{
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 20px;
    color: black;
}
.instruction{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 25px;
    color: black;
    font-weight: bold;
}